<div class="card my-4">
  <h5 class="card-header">Search for a Recipe</h5>
  <div class="card-body">
    <input
      id="typeahead-focus"
      type="text"
      class="form-control"
      placeholder="Type a recipe name..."
      [(ngModel)]="model"
      [ngbTypeahead]="searchKeyword"
      (focus)="focus$.next($any($event).target.value)"
      (click)="click$.next($any($event).target.value)"
      #instance="ngbTypeahead"
    />
    <br>
    <button class="btn btn-secondary" (click)="searchRecipe()">Find recipe</button>
  </div>
</div>
