<!-- Navigation -->
<app-top-navbar></app-top-navbar>

<!-- Page Content -->
<div class="container">
    <!-- Page Features -->
      <router-outlet></router-outlet>
</div>

<!-- Footer -->
<app-footer></app-footer>
