.ac-footer
.ac-icon{
  display:flex;
  justify-content: flex-end;
  left:0;
  right:0;
  width:30px;
  height:40px;
  margin:auto
}

.ac-footer
.ac-icon-love-dark{
  background:url("https://community.algolia.com/places/images/svg/icon-heart-light-fc92b1e0.svg") no-repeat right center/contain
}
@keyframes pulse{0%{
  box-shadow:0 0 0 0
  rgba(251,54,110,0.4)
}
  70%{
    box-shadow:0 0 0 30px rgba(251,54,110,0)
  }
  100%{
    box-shadow:0 0 0 0 rgba(251,54,110,0)
  }
}
@keyframes pulseHeart{0%{transform:scale(1.3)
}
  70%{
    transform:scale(1.15)
  }100%{transform:scale(1)
     }
}
.ac-icon-love-dark{
  display: inline-block;
  position:relative
}
.ac-icon-love-dark:before{
  content:'';
  display:block;
  width:8px;
  height:8px;
  position:absolute;
  top:45%;
  bottom:0;
  left:50%;
  transform:translate(-50%, -50%);
  right:0;
  z-index:-1;
  border-radius:100%
}
.ac-footer-container:hover .ac-icon-love-dark{
  animation:pulseHeart 1s ease infinite
}
.ac-footer-container:hover .ac-icon-love-dark:before{
  animation:pulse 1s ease infinite !important
}
.ac-icon-triangle
{
  width:0;
  height:0;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  border-left:5px solid #788795;
  position:relative;
  display:inline-block;
  margin-left:8px
}

.ac-footer
.ac-footer-brand:hover,
.ac-icon-love-dark {
  background:url("https://community.algolia.com/places/images/svg/icon-heart-light-fc92b1e0.svg") no-repeat center center/contain
}

.card-descr{
  max-width: 100%;
  height: 145px;
  overflow: hidden;
  /*ellipsis kürzt den Text mit ...  wird hier aber nicht angezeigt*/
  /*text-overflow: ellipsis;*/
  text-align: justify;
}

.heart-btn{
  outline: none;
  border: none;
  background: none;
}

.resize {
  height: 300px;
  object-fit: cover;
}
