<div class="row">
  <!-- Jumbotron Header -->
  <div class="col-lg-8">
    <app-jumbotron-header></app-jumbotron-header>
  </div>

  <!-- Sidebar Widgets Column -->
  <div class="col-lg-4">
    <app-sidebarcolums></app-sidebarcolums>
  </div>
</div>


<!-- Ingredients Checkbox Container -->
<div class="card h-auto col-lg-8">
  <h4 class="card-title ingredients-title">Choose Your Ingredients</h4>
  <div class="card-body">
    <div class="checkbox-body">
      <form #form="ngForm" (submit)="search()">
        <div class="row justify-content-lg-between">
          <ul *ngFor="let ingredient of ingredients" class="form-control-sm">
            <label>
              <input class="checkbox" type="checkbox" value="{{ingredient.id}}" [(ngModel)]="ingredient.isAvailable"
                     [name]="ingredient.name"/>
              <span innerHTML="{{ingredient.name}}"></span>
            </label>
          </ul>
        </div>
        <input class="btn btn-primary float-md-left search-button " type="submit" value="Search">
      </form>
    </div>
    <button class="btn btn-primary float-md-left search-button" (click)="removeCheckedIngredients()">Remove all</button>
    <button class="btn btn-primary float-md-right" (click)="showAllRecipes()">Show all recipes
    </button>
  </div>
</div>

  <!-- Recipes-->
  <h1 class="display-4">Recipes</h1>
<a *ngIf="sessionUser == null" routerLink="/login" class="btn btn-secondary my-3">Do you want to mark your
  favourite recipes?</a>
  <div class="row text-center">
    <div class="no-recipes-found-div" *ngIf="recipes == null || recipes.length == 0">
      <p>No recipes found</p>
    </div>
    <div class="col-lg-4 mb-12" *ngFor="let recipe of recipes">

      <div class="card h-100">
        <img class="card-img-top picture resize" src="{{recipe.picture}}" alt="{{recipe.alt}}">

        <div class="card-body">
          <h4 class="card-title">{{recipe.name}}</h4>
          <p class="card-text card-descr">{{recipe.description}}<br></p>
          <br>
          <p class="card-text">Total Prep & Cook Time: {{recipe.prepCookTime}} Minutes<br></p>
          <div *ngIf="sessionUser !== null && !favouriteRecipeIds.includes(recipe.id)" class="ac-footer">
            <button class="heart-btn" (click)="markRecipeAsFavourite(recipe)">
              <div class="ac-footer-container ac-footer-brand">
                <span class="ac-icon ac-icon-love-dark"></span>
              </div>
            </button>
          </div>
          <p *ngIf="sessionUser !== null && favouriteRecipeIds.includes(recipe.id)"><strong>Added to favourites</strong>
          </p>
        </div>
        <div class="card-footer">
          <div>
            <a [routerLink]="['/recipeDetail', recipe.id]" class="btn btn-primary">To Recipe Detail</a>
          </div>
        </div>
      </div>
    </div>
  </div>
