<div class="container my-4">
  <h1>Recipe Details</h1>
  <div class="row text-center">
    <div class="cols-lg-6">
      <div class="card h-100">
        <h4 class="card-title my-3">{{recipe.name}}</h4>
        <img class="card-img-top resize" src="{{recipe.picture}}" alt="{{recipe.alt}}">
        <div class="card-body">
          <p class="card-text text-lg-left">
            <strong>Servings:</strong>
            {{recipe.servings}}</p>
          <p class="card-text text-lg-left">
            <strong>Total Prep & Cook Time:</strong>
            {{recipe.prepCookTime}} Minutes<br></p>
          <p class="card-text text-lg-left">
            <strong>Mealtime:</strong></p>
          <div class="card-text text-lg-left">
            <p *ngIf="recipe.breakfast">Breakfast</p>
            <p *ngIf="recipe.lunch">Lunch</p>
            <p *ngIf="recipe.dinner">Dinner</p>
            <p *ngIf="recipe.snack">Snack</p>
          </div>
          <hr>
          <p class="card-text text-lg-left"><strong>Ingredients:</strong></p>
          <div *ngFor="let recipeingredient of recipeIngredients"
               class="card-columns text-lg-left">
            <ul class="col-lg-auto" *ngIf="recipeingredient">
              <p>֎ {{recipeingredient.ingredient.name}}</p>
              <p *ngIf="recipeingredient.quantity">Quantity: {{recipeingredient.quantity}} cup/tablespoon/piece(s)</p>
              <p *ngIf="recipeingredient.weight">Weight: {{recipeingredient.weight}} grams</p>
            </ul>
          </div>
          <hr>
          <p class="card-text text-justify"><strong>Instructions: </strong>
            <br>{{recipe.description}}<br></p>
          <div *ngIf="sessionUser !== null && !favouriteRecipeIds.includes(recipe.id)" class="ac-footer">
            <button class="heart-btn" (click)="markRecipeAsFavourite(recipe)">
              <input type="image" id="image" alt="unlike-button"
                     src="https://community.algolia.com/places/images/svg/icon-heart-light-fc92b1e0.svg"
                     width="30" height="30">
            </button>
          </div>
          <p *ngIf="sessionUser !== null && favouriteRecipeIds.includes(recipe.id)"><strong>Added to favourites</strong>
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary" href="#">Back to Mainpage</a>
        </div>
      </div>
    </div>
  </div>
</div>

