<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <img src="RCB_Logo_orange.png" alt="RCB Logo">
    <a class="navbar-brand" routerLink="/">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
             routerLink="/recipes">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
             routerLink="/login" *ngIf="sessionUser === null">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
             routerLink="/yourprofile" *ngIf="sessionUser !== null">Your Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
             routerLink="/registration" *ngIf="sessionUser === null">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
             *ngIf="sessionUser !== null" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
