
.card-descr {
  max-width: 100%;
  height: 145px;
  overflow: hidden;
  text-align: justify;
}

.resize {
  height: 300px;
  object-fit: cover;
}

button {
  outline: none;
  border: none;
  background: none;
}
