<div class="container my-4">
  <section class="row">
    <div class="col-lg-8">
      <app-session-user></app-session-user>
     <img class="my-2" height="300" width="auto" src="https://www.foodandhome.co.za/app/uploads/2016/06/Food-brings-people-together.jpg">
    </div>
    <div class="col-lg-4">
      <app-sidebarcolums></app-sidebarcolums>
    </div>
  </section>

  <hr>

  <div *ngIf="sessionUser != null && (favouriteRecipes == null || favouriteRecipes.length == 0)">
    <h4 class="card-text">You don't have any favourite recipes yet.
      Go back to Main Page and mark your favourite ones there.</h4>
    <a class="btn btn-primary" routerLink="/">Great! Give me suggestions!</a>
  </div>

  <div *ngIf="favouriteRecipes != null && favouriteRecipes.length > 0">
    <h4 class="card-text">Your favourite recipes</h4>
    <div class="row text-center">
      <div class="col-lg-4 mb-12" *ngFor="let recfv of favouriteRecipes">
        <div class="card h-auto" *ngIf="recfv">
          <img class="card-img-top picture resize" src="{{recfv.recipe.picture}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{recfv.recipe.name}}</h4>
            <p class="card-text card-descr">{{recfv.recipe.description}}<br></p>
            <br>
            <p class="card-text">Total Prep & Cook Time: {{recfv.recipe.prepCookTime}} Minutes<br></p>
            <div>
              <button (click)="unmarkRecipeAsFavourite(recfv.recipe)">
                <img class="card-img small-img"
                     src="https://cdn.pixabay.com/photo/2016/06/17/15/23/heart-1463424_960_720.jpg" alt="unlike Heart">
              </button>
            </div>
          </div>
          <div class="card-footer">
            <div>
              <a [routerLink]="['/recipeDetail', recfv.recipe.id]" class="btn btn-primary">To Recipe Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
