/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 3rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

nav {
  background-color: #F1A67C;
}

a {
  color: inherit;
}
/*btn hover andere Farbe */
a:hover
{
  color:#00A0C6;
  text-decoration:none;
  cursor:pointer;
}

footer {
  background-color: #F1A67C;
}

.jumbotron {
  background-color: #FFEBCD;
  padding-top: 1.5rem;
}

.card-header {
  background-color: #FFEBCD;
}

.btn {
  background-color: #F1A67C;
  border-color: #E8E8E8;
}

.btn:hover {
  background-color: #7EB1C3;
  border-color: #66A3B8;
}

.checkbox{
  margin-right: 0.3rem;
}

.search-button{
  margin-right: 0.5rem;
}

.ingredients-title{
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.checkbox-body{
  margin-left: 0.5rem;
}

.no-recipes-found-div{
  margin-left: 1.5rem;
}

.login-register-title{
  margin-left: 2rem;
}

.cancel-button{
  margin-left: 0.5rem;
}

.login-section{
  margin-top: 1rem;
}

.small-img{
  width: 30px;
  height: 30px;
}
