<header class="jumbotron my-4 justify-content-lg-center">
  <h1 class="display-4">A Warm Welcome!</h1>
  <div class="row justify-content-between justify-content-around">
    <p class="lead col-md-9 text-justify">Do you know the feeling, when there's a hole inside your stomach and you feel
      like eating something
      very delicious and comforting, but with a glance into your fridge you almost give it up?
      Well now you have us. If your fridge and your pantry are left with only a few ingredients, just tell it to us and
      we will make you some yummy suggestions! Happy Cooking!</p>
    <img class="card-deck rounded justify-content-around" height="220" width="auto"
         src="https://images.unsplash.com/photo-1506368249639-73a05d6f6488?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
         alt="Photo by @calumlewis on Unsplash">
  </div>
  <a *ngIf="sessionUser == null" routerLink="/login" class="btn btn-secondary mt-3">Do you want to mark your
    favourite recipes?</a>
</header>
